@import "tailwindcss";

header,footer{
  background-color:rgb(0, 0, 81) !important;
  z-index: 400;
}

.main_section {
  box-shadow: 10px 10px 70px #8c8a88;
}


.navbar{
  display: flex;
}

.navbar li {
  transition: 2s;
  opacity: 0;
  animation: slide-down 0.9s ease forwards;
  animation-delay: var(--delay);
}

.slide-down{
  transition: 1s;
  opacity: 0;
  animation: slide-down 1s ease forwards;
  animation-delay: 0.2s;
}
.slide-up{
  transition: 1s;
  opacity: 0;
  animation: slide-up 1s ease forwards;
  animation-delay: 0.2s;
}
.slide-left{
  transition: 1s;
  opacity: 0;
  animation: slide-left 1s ease forwards;
  animation-delay: 0.2s;
}
.slide-right{
  transition: 1s;
  opacity: 0;
  animation: slide-right 1s ease forwards;
  animation-delay: 0.2s;
}

@keyframes slide-down {
  from {
    transform: translateY(-150%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }

  
}
@keyframes slide-right {
  from{
    transform: translateX(-40px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
  
}
@keyframes slide-left {
  from{
    transform: translateX(40px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
  
}
@keyframes slide-up {
  from{
    transform: translateY(40px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
  
}

@keyframes floatImg {
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(-5px);
  }
  100%{
      transform: translateY(0);
  }
  
}


.precast_building {
  border: white;
  background-color: rgb(227, 225, 221);
}

.box_shadow {
  box-shadow: 5px 5px 15px rgb(144, 223, 237);
  background-color: rgba(243, 246, 246, 0.973);
}

/* media query's */

/* pre_cast */

@media screen and (max-width: 640px) {
  /* section */
  .section{
    overflow: hidden;
  }

  .precast_building {
    width: auto;
    height: auto;
  }
  /* heading */
  .heading {
    font-size: 50px;
  }
  /* services */

  /* introduction */
  .intro {
    height: auto;
  }
  /* the end */

  /* gallery */
  .Gallery_images{
   display: flex;
   flex-direction: column;
   object-fit: fill;
   gap:20px;
   overflow: hidden;
     }
  /* photos */
.Photos{
  
  display: flex;
  flex-direction: column;
 align-items: center;
 overflow: hidden;


}  
/* photos_inside */
.photos_inside{
  border-radius: 90px;
  overflow: hidden;
}
/* the end */
/* Logo images */
.logo_images{
display: flex;
flex-direction: column;
gap: 50px;
 object-fit: fill;
 
overflow: hidden;
}
  
}
